.App {
  display: flex;
  justify-content: center;
}

label {
  font-weight: bold;
  display: flex;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
textarea {
  display: block;
  width: 400px;
  padding: 6px 12px;
  font-size: 15px;
  line-height: 1.428;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-control {
  margin-bottom: 20px;
}

#error {
  color: red;
}

button {
  padding: 6px 12px;
  margin-top: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}
button:active {
  border: 1px solid #a5e7d6;
}
